/* Table of Content
==================================================

  #BASIC TYPOGRAPHY
  #HOME
  #Equipos SECTION
  #FOOTER
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Roboto",sans-serif;
  z-index: 1;
}

.logo{
  z-index:5;
  width: 250px;
  margin: 0px;
  padding: 0px;
  margin-top: -20%;
  margin-bottom: -20%;
  margin-left: -7%;
}

#p{
  color: white;
}

.custom-nav li a{
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 25px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

nav .brand-logo {
  font-weight: bold;
}

nav .brand-logo img {
  height: 45px;
  margin-top: 10px;
}

.side-nav a {
  text-transform: uppercase;
}

.side-nav li:hover{
  color: #fff;
}

.side-nav li a:hover{
  color: #fff;
}

.main-wrapper{
  display: inline;
  width: 100%;
  float: left;
}


/* Preloader */

#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
}

.progress{
  background-color: #ccc;
}

/*--------------------*/
/* Home */
/*--------------------*/

/*
/* Redes Sociales */
/* att pedro Sanchez

esta seccion se puede borrar la deje por si cambian de opinion no copiar el codigo nuevamente */


/* .redesSociales ul {
  padding-left: 40px;
}

.redesSociales ul li  {
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px;

}

.redesSociales ul li img {

  width: 30px;
  height: 30px;
  border-radius: 100%;
} */

#home {
  background-color:black;
  background-position: 100% 100%;
  background-size: 100% 100%;
  display: inline;
  float: left;
  height: 320px;
  position: relative;
  width: 100%;
}

#home .overlay-section {
  height: 100%;
  width: 100%;
}

.home-inner {
  display: inline;
  float: left;
  padding: 57px 100px;
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: -20px
}

.home-title{
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.home-inner>p{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 38px;
  text-transform: uppercase;
}

.pro-bar-container.color-wisteria {
  background-color: #eee;
}


/*--------------------*/
/* Proces */
/*--------------------*/

.title{
  font-size: 45px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.title1{
  font-size: 45px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 35px;
  text-transform: uppercase;
  color: #045FB4;
}

.skill-progress-bar{
  display: inline;
  float: left;
  width: 96%;
  margin: 10px;
}

.skill-progress-bar span {
  color: #727272;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.pro-bar-container {
  border-radius: 0;
  height: 30px;
}

.pro-bar {
  border-radius: 0px;
  height: 30px;
}


/*--------------------*/
/* equipos */
/*--------------------*/

.blog-image img {
  margin-top: 15px;
  width: 100%;
}

#equipos{
  display: inline;
  padding-bottom: 100px;
  float: left;
  width: 100%;
}

.equipos-top{
  display: inline;
  padding-top: 60px;
  float: left;
  width: 100%;
}

.equipos-top-inner{
  display: inline;
  float: left;
  width: 100%;
}

.equipos-top-inner h2{
  color: #fff;
}

.controls{
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.filter {
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 5px;
}

.filter:hover{
  color: #fff;
}

.filter:focus{
  color: #fff;
}

.equipos-bottom{
  display: inline;
  padding-top: 50px;
  width: 100%;
  float: left;
}

.equipos-bottom-inner{
  display: inline;
  float: left;
  width: 100%;
}

#equipos-list{
  display: inline;
  float: left;
  margin-left: -1%;
  width: 100%;
}

#equipos-list .mix{
  display: none;
  float: left;
  height: 300px;
  margin-bottom: 1.33%;
  margin-left: 1%;
  width: 32.33%;
 -webkit-transition: all 0.2s ease 0s;
 -o-transition: all 0.2s ease 0s;
 transition: all 0.2s ease 0s;
}

#equipos-list .mix a{
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
}

#equipos-list .mix > a::before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 solid transparent;
  content: "";
  height: 100.5%;
  left: 0;
  position: absolute;
  top: 0;
  transition: border-width 0.2s ease 0s, border-color 0.2s ease 0s;
  width: 100.5%;
}

#equipos-list .mix:hover > a::before {
  opacity: 0.8;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#equipos-list .mix a img{
  width: 100%;
  height: 100%;
}

.view-icon {
  color: #fff;
  top: 42%;
  visibility: hidden;
  font-size: 2em !important;
  left: -1%;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#equipos-list .mix:hover .view-icon {
  left: 43%;
  visibility: visible;
}


#equipos-list .mix:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* samsungJ8  */
.celularesCaracteristicas h3 {
  text-shadow: 0 0 6px #10487e;
}

#iphone5s{
  width:70%;
  margin-left: 75px;
  margin-top: -15px;
}

#descrip-iphone5s{
  margin-left: -17px;
}
#HuaweiY9{
  width: 58%;
  margin-left: 81px;
}
#iphone6splus{
  width: 58%;
  margin-left: 80px;
}

#dellLatitude{
  width: 80%;
  margin-left: 15%;
}

#HPpavilon15{
  width: 88%;
  margin-left: 7%;
}

#Dell6430{
  width: 95%;
  margin-left: 5%;
}

#chargerU{
  width: 75%;
  margin-left: 7%;
}

.celularesCaracteristicas {
  box-shadow: 3px 2px 15px 2px #045fb4a3;
  width: 110%;
  margin: auto;
  height: auto;
  background: white;
  color: black;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20px;
  padding: 10px;
  margin-top: 14px;
  margin-left: -18px;
}

.MRPCP{
  font-weight: bold;
}

.INFO{
  font-style: italic;
}


/*--------------------*/
/* FOOTER */
/*--------------------*/


#footer{
  display: inline;
  float: left;
  width: 100%;
}

.footer-top{
  display: inline;
  padding: 60px 0;
  float: left;
  width: 100%;
}

.footer-top-inner{
  display: inline;
  float: left;
  width: 100%;
}


.footer-top-inner>h2{
  color: #fff;
}


.footer-top-inner>p{
  color: #fff;
}


.contact{
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}


.contact-form {
  background: rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline;
  border-radius: 4px;
  padding: 20px;
  float: left;
  width: 100%;
}


.contact-form .input-label {
 /* color: #bbbbbb;*/
  font-size: 15px;
  left: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"], input[type="number"],
input[type="search"],
textarea.materialize-textarea {
  border-color: #ccc;
}

.textarea-input textarea{
  min-height: 116px;
}

.submit-btn:hover,
.submit-btn:focus{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  padding-left: 10px;
}

.contact-social{
  background: rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  height: 507px;
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

 .mail{
  width: 65px;
  font-size: 1.2em;
}

.face{
  width: 65px;
  font-size: 1.2em;
}

.IG{
  width: 55px;
  font-size: 1.2em;
}

.WS{
  width: 60px;
  font-size: 1.2em;
  color: #045FB4;
}

.TEL{
  width: 55px;
  font-size: 1.2em;
  color: #045FB4;
}

.contact-social img{
  border-radius: 4px;
  margin-bottom: -5px;
}

.Social{
  padding:10%;
}

.footer-bottom{
  background-color: #000;
  display: inline;
  float: left;
  width: 100%;
}

.footer-inner {
  display: inline;
  float: left;
  padding-top: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.design-info {
  color: #555;
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  margin-top: 20px;
}

.design-info a{
  color: #045fb4;
}

.copyright-info {
  color: #555;
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 25px;
}

.up-btn {
  background-color: #fff;
  color: #000;
  left: 47.7%;
  position: absolute;
  top: -28px;
}

.up-btn i{
  color: #045fb4;
}

.up-btn:hover,.up-btn:focus{
  background-color: #fff;
}

.header-title {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/*--------------------*/
/* SINGLE BLOG */
/*--------------------*/


#blog-details{
  background-color: #fafafa;
  display: inline-block;
  float: left;
  min-height: 500px;
  width: 100%;
}

.blog-image{
  display: inline;
  float: left;
  width: 110%;
  height: auto;
  margin-left: -30px;
}

.sidebar{
  display: inline-block;
  float: left;
  min-height: 300px;
  width: 100%;
}

.single-sidebar{
  display: inline;
  float: left;
  width: 100%;
}

.single-sidebar h3 {
  color: #343434;
  font-size: 25px;
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}

.single-sidebar h3 {
  color: #343434;
  font-size: 25px;
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}

.single-sidebar ul{
  margin-top: 0px;
}

.single-sidebar ul li a {
  display: block;
  padding: 5px;
}



/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/


@media(max-width:1199px ){
  .custom-nav li a { padding: 25px 15px;}
  .contact-social{height: 499px;}
}


@media(max-width:991px ){
  .home-inner {padding: 30px;}
  .home-title {font-size: 55px;}
  .contact-social{height: 491px;}
  .up-btn {left: 45.5%;}
  .custom-nav li a { padding: 25px 20px;}
}

@media(max-width:600px ){
  .contact-social{margin-top: 20px;}
}

@media(max-width:767px ){
  nav .brand-logo img {height: 40px; margin-top: 12px;}
  .home-inner { padding: 10px;}
  .home-title {font-size: 35px;}y
  #blog-details{ display: table;}
  .left-sidebar{display: table-footer-group;float: none !important;}
  .header-title {font-size: 30px;}
  .single-sidebar h3 {font-size: 18px;}
}


@media(max-width:480px ){
  nav .brand-logo { font-size: 1.1rem; }
  nav .brand-logo img {height: 35px;margin-top: 12px;}
  .side-nav {width: 200px;}
  .side-nav a {height: 45px;line-height: 50px;}
  .home-inner { padding: 0;}
  .home-title {font-size: 35px;}
  .home-inner > p {font-size: 16px;}
  .title {font-size: 25px;line-height: 1; margin-bottom: 30px;}
  .title1 {font-size: 25px;line-height: 1; margin-bottom: 30px;}
  .skill-progress-bar span { font-size: 15px;}
  .filter {margin-bottom: 5px;margin-right: 5px;}
  #equipos-list .mix {height: 250px; margin-bottom: 15px; width: 100%;}
  .contact-social {height: 480px;margin-top: 30px;}
  .copyright-info {text-align: center; width: 100%;margin-top: 5px;}
  .up-btn {left: 43%;}
  .header-title { font-size: 20px;}
  .design-info {text-align: center;width: 100%;margin-top: 15px;margin-bottom: 0px;}
}

@media(max-width:360px ){  nav .brand-logo img {height: 27px;margin-top: 16px;}
  .copyright-info { font-size: 12px;}
  .up-btn {left: 40.7%;}
  .design-info {font-size: 13px;}
}

@media(max-width:320px ){
  nav .brand-logo {  font-size: 1.1rem;}
  .home-title { font-size: 30px;}
  .up-btn {left: 39%;}
  .header-title {font-size: 16px;line-height: 30px;}
}
